{{!-- I pledge my honor that I have abided by the Stevens Honor System. --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/site.css" />
    <title>Fibonacci Prime Checker</title>
</head>
<body>
    <header>
        <h1>Fibonacci Prime Checker</h1>
    </header>
    <form method="POST" id="form">
        <label for="userInput" id="formLabel">
            <input type="number" id="userInput" name="index"/>
        </label>
        <button class="form" type="submit">submit</button>
    </form>
    <div id="error" hidden></div>
    <ul id="results"></ul>
    <footer>Kaiqi Chee 10451613</footer>
    <script src="/public/js/fibonacci.js"></script>
</body>
</html>
	
